/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f4f0ed;
  --secondary-color: #313131;
  --accent-color: #9b98e9;
}

body {
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

/* NAVIGATION */
.navbar {
  background: var(--primary-color);
  padding: 10px;
}
.navbar-toggler {
  font-size: 15px;
  margin-left: auto;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  color: var(--secondary-color);
}

.nav-link:hover {
  color: var(--accent-color);
}
.active {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

/* HOMEPAGE */

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
}

.hero {
  padding: 220px;
}

.footer a,
.main-about a {
  color: var(--accent-color);
  text-decoration: none;
  font-style: italic;
}

.footer a:hover,
.main-about a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.name-color {
  color: var(--accent-color);
}

.first-main {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 80px;
  justify-content: center;
  letter-spacing: 1px;
}
.second-main {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 80px;
  justify-content: center;
  letter-spacing: 1px;
}

.skills {
  padding: 30px;
  text-align: center;
  font-size: 60px;
  opacity: 0.8;
}

.skills-button {
  text-align: center;
  margin-top: 50px;
}

/* PROJECT PAGE */

.projects img {
  border-radius: 30px;
}

/* CONTACT PAGE */

.contacts {
  text-align: center;
}

.contacts h1 {
  font-size: 58px;
}

.contacts h3 {
  font-size: 32px;
}

.contacts h4 {
  font-size: 26px;
}

.contacts i {
  padding-bottom: 8px;
  color: var(--secondary-color);
  opacity: 0.8;
}

.contacts a {
  padding-bottom: 8px;
  color: var(--secondary-color);
  text-decoration: none;
}

.contacts a:hover {
  color: var(--accent-color);
}

/* BUTTONS */

.primary-button {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  transition: 0.3s;
}

.primary-button:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

/* FOOTER */

footer {
  padding: 50px 0;
  color: var(--primary-color);
  text-align: center;
}

.social-links a {
  font-size: 30px;
  margin: 20px;
  color: var(--primary-color);
  transition: 0.3s;
}

.social-links a:hover {
  color: var(--accent-color);
}
