/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f4f0ed;
  --secondary-color: #313131;
  --accent-color: #9b98e9;
}

body {
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

/* HOMEPAGE */

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
}

.hero {
  padding: 180px;
}

.main-about {
  justify-content: center;
  padding: 80px;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.main-about a {
  color: var(--accent-color);
  text-decoration: none;
  font-style: italic;
}

.main-about a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.name-color {
  color: var(--accent-color);
}

.main-two {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* BUTTONS */

.primary-button {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  transition: 0.3s;
}

.primary-button:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

/* FOOTER */

footer {
  padding: 50px 0;
  color: var(--primary-color);
}

.social-links a {
  font-size: 30px;
  margin: 20px;
  color: var(--primary-color);
  transition: 0.3s;
}

.social-links a:hover {
  color: var(--accent-color);
}
